<%- stylesheets("index", "all") %>

<h3 class="titles_index" align="center">
	<%= image_tag("alert.png", :class => "transparente") %><br />
	Opss, você está tentando acessar uma parte proibida para você. Por favor não faça isso novamente! Obrigado.
</h3>

<br /><br />
<%= image_tag("arrow.png", :class=> "align-arrow") %>
<%= link_to 'Voltar', home_index_path, :class => "style-link-recipe" %>