body {
	background: #fff url("/images/bakc.jpg") repeat-x top left;
	font-family: Arial, Helvetica, Sans-serif;
	
}

.lixo, .cadeado { behavior: url(/fixie6/iepngfix.htc) }

#pnlAllAdmin {
	width: 800px;
	height: auto;
	padding: 5px;
	margin: 0 auto;
	border: 10px solid #EFEFEF;
	background-color: #fff;
}
.table-lock {	width: 600px }
.table-lock td { padding: 1px; }
#top-table { width: 600px; padding: 4px; background: #EBEBEB; font-size: 14px; color: #000; -moz-border-radius:0.3em; font-size: 12px; }
a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 14px;
}
.button-login {
	width: 89px;
	height: 25px;
	border: none;
	color: #Efefef;
	font-weight: bold;
	background: #fff url("/images/login.jpg") no-repeat top left;
}
.titles_index {	font-size: 20px;	color: #666; }
.rest{
	-moz-border-radius:0.3em;
	background: #E0E6FF;
	font-family: Arial, Helvetica, Sans-serif;
	padding: 2.3px;
}
.rest-lock{
	-moz-border-radius:0.3em;
	background: #FCFC00;
	font-family: Arial, Helvetica, Sans-serif;
	padding: 2.3px;
}

.table-contact { width: 100%; text-align: center; }
.table-contact td { padding: 5px; font-size: 13px; border: 1px solid #666; }
.table-contact th { padding: 5px; font-size: 13px; background: #666; font-size: 13px; color: #ccc;}

#flash_admin { background: #FAFFAF; padding: 5px; font-weight: bold; font-size: 14px; color: #666; }

.errorExplanation { padding: 10px; background: #FAFFAF; }


#show-event {
	width: 195px;
	height: 180px;
	float: left;
	margin: 5px;
	padding: 20px 0px 0px 0px;
	text-align: center;
	background: url("/images/show-event2.jpg") no-repeat center top;
}

#pnlEvents {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: table;
	background: #EFEFEF;
}