body { text-align: center; }

ul#topnav li{ 	height:38px; }
#pnlMenu { width: 300px; }

#show-categories { width: 100px; }

#pnlContentSilver {
	background: #EFEFEF url("/images/home-top.jpg") no-repeat left top;
}

#pnlAllAdmin {
	text-align: left;
}

.name-products{
	-moz-border-radius: 0.7em;
	background: #ccc;
	position: relative;
	top: -19px;
	font-weight: bold;
	left: 0px;
	color: #666;
	font-family: Arial, Helvetica, Sans-serif;
	padding: 3px 5px 3px 5px;
	background: url("/images/name-products.png") no-repeat left center;
}

#show-categories {
	height: 150px;
	border: none;
	background: url("/images/show-categories.jpg") no-repeat left top;
}

#pnlContentPrincipal {
	width: 700px;
	background: #fff;
}

.box {
	float: left;
	width: 120px;
	position: relative;
	top: 7px;
}

#validacao-contact { float: right; width: 200px; }

#validacao-contact .errorExplanation {
	width: 250px;
}

#product-right { 
	float: right;
	width: 420px; 
	min-height: 130px; 
	height: auto; padding: 5px;
	background: #f0f0f0 url("/images/top.jpg") no-repeat top center; 
	font-size: 14px; 
}