.avril, .jcarousel-next-horizontal, .jcarousel-prev-horizontal { behavior: url("/fixie6/iepngfix.htc") }
#pnlDobra { background: transparent url("/images/back_menu.gif") no-repeat bottom center; }


#show-categories {
	width: 90px;
	margin: 3.5px;
}

.name-products{
	-moz-border-radius: 0.7em;
	background: #ccc;
	position: relative;
	top: -19px;
	font-weight: bold;
	left: 0px;
	color: #666;
	font-family: Arial, Helvetica, Sans-serif;
	padding: 3px 5px 3px 5px;
	background: url("/images/name-products.jpg") no-repeat left center;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 117px;
	height: 90px;
	background: url("/images/back-index.jpg");
	text-align:center;
}

#validacao-contact { width: 270px; text-align: center; }

#formulario-contact { width: 360px; }

.errorExplanation { width: 270px; }

.box {
	bottom:7px;
	left: 7px;
	width: 125px;
}

#all-products {	width: 640px; }

#product-right {
	height: 140px;
	background: #F0F0F0;
}