* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: Arial, Helvetica, Sans-serif;
	background: #999 url("/images/back.jpg") no-repeat top center;
}

.align-arrow, .transparente, .test { behavior: url(/fixie6/iepngfix.htc) }

#pnlAll {
	width: 1000px;
	min-height: 100%;
	height: auto;
	margin: 0 auto;
}
#pnlHeader {
	width: 700px;
	height: 150px;
	margin: 0 auto;
	color: white;
	position: relative;
	font-weight: bold;
	text-align: right;
	font-size: 10px;
}
	#links-topo {
		position: relative;
		top: 20px;
		right: 30px;
		color: #efefef;
		text-transform: uppercase;
		font-size: 9px;
		font-family: Verdana, Helvetica, Sans-serif;
		font-weight: normal;
	}
	#links-topo a {
		color: #fff;
	}
	
	.empresa-index { position: relative; top: 2px; }
#pnlMenu {
	width: 470px;
	height: auto;
	position: absolute;
	top: 80px;
	right: 0px;
}
#pnlDobra {
	width: 700px;
	height: 35px;
	margin: 0 auto;
	background: transparent url("/images/back_menu.png") no-repeat bottom center;
}
#pnlContent {
	width: 100%;
	min-height: auto;
	height: auto;
	background: white url("/images/teste.jpg") repeat-x top right;
}
#pnlContentSilver {
	width: 660px;
	height: auto;
	padding: 10px;
	margin: 0 auto;
	display: table;
	text-align: left;
	-moz-border-radius: 15px;
	-webkit-border-redius: 15px;
	background: #EFEFEF;
	font-size: 13px;
}
#pnlContentPrincipal {
	width: 710px;
	height: auto;
	min-height: 400px;
	padding-bottom: 50px;
	margin: 0 auto;
	background: transparent url("/images/back_content.png") no-repeat top center;
}
#pnlSlides {
	width: 680px;
	height: 120px;
	margin: 0 auto;
}
#pnlAllSobreReceitas {
	width: 310px;
	height: auto;
	float: left;
}

	#pnlReceitas {
		height: 135px;
		padding: 3px;
	}

	#pnlSobre {
		height: auto;
		padding: 3px;
		border-bottom: 5px dotted #666;
	}

#pnlOrcamentos {
	width: 320px;
	height: 280px;
	float: right;
	padding: 3px 3px 3px 10px;
	border-left: 5px dotted #666;
}

#pnlFooter {
	width: 300px;
	height: auto;
	margin: 10 auto;
	text-align: center;
	font-size: 13px;
	color: #999;
}

.titles_index {	font-size: 20px;	color: #666; }

.align-arrow { position: relative; top: 3px; margin-right: 2px;}

.style-link-recipe { text-decoration: none; color: #333; font-weight: bold; }

#show-recipe { float: right; }

#new-recipe, #new-contact label { font-size: 14px; font-weight: bold; color: #666 }
.cor-validacao {  font-size: 14px; font-weight: bold; color: #666  }


.text-contact { color: #666; text-align: center; }

#validacao-contact { float: right; width: 280px; }

#formulario-contact { width: 360px; }

#logo-contato {
	width: 210px;
	color: #666;
	padding: 10px;
	margin: 10px auto;
	text-align: center;
	display: block;
}

#new-recipe .input-text { font-size: 22px; width: 350px ;padding: 2px; border: 1px solid #D2D2D2; background: #FBFBFB }

#new-contact .input-text { font-size: 22px; width: 350px ;padding: 2px; border: 1px solid #D2D2D2; background: #FBFBFB }

#new-recipe textarea {  width: 350px ;padding: 2px; border: 1px solid #D2D2D2; background: #FBFBFB; height: 80px }

.errorExplanation li { list-style: none; }

.fieldWithErrors input {
	padding: 0px;
	margin: 0px;
}

.errorExplanation h2 { font-size: 15px; color: #000; margin-bottom: 10px; }

.errorExplanation { width: 280px; float: right; padding: 2px; margin-top: 20px; background: #FFCECE; border: 1px solid #FF6262; -moz-border-radius:0.5em; }

#flash_notice { width: 650px; padding: 5px; background: #BCDD5A ; border: 1px solid #80C31C; color: #333; font-weight: bold ;-moz-border-radius:0.5em; font-size: 12px; margin-bottom: 10px; }

.test { position: relative; top: 12px; margin-right: 2px; }

.table-show-recipe { width: 660px; font-size: 13px  }

.table-show-recipe th { width: 100px; background: #999; color: #fff; text-align: left; padding: 2px; }

.table-show-recipe td { text-align: center; padding: 2px; border: 1px solid #ccc }
 	
#pnlCategories {
	width: 620px;
	height: auto;
	margin: 0 auto;
	display: table;
}

#show-categories {
	width: 120px;
	height: 130px;
	padding: 10px;
	margin: 5px;
	border: 2px solid #CCC;
	background: #FFF;
	text-align: center;
	position: relative;
	float: left;
	border-radius: 0.7em;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
}

#show-categories a { text-decoration: none; color: white; font-weight: bold; }

#all-products { 
	width: 600px;
	padding: 10px;
	margin: 0 auto;
	border: 2px solid #CCC;	
	display: table;
	background: #FFF;
	border-radius: 0.7em;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
}

#product-left {
	float: left;
}

#product-right {
	float: right;
	width: 420px;
	min-height: 130px;
	height: auto;
	padding: 5px;
	-moz-border-radius: 0.7em;
	-webkit-border-redius: 0.7em;
	background: #F0F0F0;
	font-size: 14px;
}

.name-products {
	-moz-border-radius: 0.7em;
	-webkit-border-redius: 0.7em;
	background: #ccc;
	position: relative;
	display: block;
	width: 140px;
	text-align: center;
	top: -19px;
	font-weight: bold;
	color: #666;
	font-family: Arial, Helvetica, Sans-serif;
	padding: 3px 5px 3px 5px;
}

.button-login {
	width: 89px;
	height: 25px;
	border: none;
	color: #FBFBFB;
	font-weight: bold;
	background: #fff url("/images/login.jpg") no-repeat top left;
}

#pnlRecipeRight { width: 300px; float: right; color: #666; text-align: justify; }

.box {
	position: absolute;
	bottom:2px;
	left: 2px;
	text-align: center;
	height: 20px;
	width: 99%;
	color: white;
	font-size: 12px;
	font-weight: bold;
	display: block;
	font-family: Arial, Helvetica, Sans-serif;
	background: #1F5AA0 url("/images/top-left.jpg") no-repeat left center;
}
.box-outer {
	height: 20px;
	background: url("/images/top-right.jpg") no-repeat right center;s
}

.box p {
	position: relative;
	top: 3px;
}

#name {
	width: 100px;
	background: red;
	float: left;
}

#show-event {
	width: 195px;
	height: 180px;
	float: left;
	margin: 5px;
	padding: 20px 0px 0px 0px;
	text-align: center;
	background: url("/images/show-event2.jpg") no-repeat center top;
}


#show-event-in {
	width: 195px;
	height: 180px;
	float: left;
	margin: 5px;
	padding: 20px 0px 0px 0px;
	text-align: center;
	font-size: 12px;
	background: url("/images/show-event-in.jpg") no-repeat center top;
}


#show-event:hover {
	background: url("/images/show-event-hover.jpg") no-repeat center top;
}

#show-event a {
	margin-top: 5px;
	color: #333;
	font-weight: bold;
}

#pnlEvents {
	width: 620px;
	height: auto;
	margin: 0 auto;
	display: table;
}

.intro-categories {
	color: #666;
	font-size: 13px;
}

.margem { margin-left: 25px; }

#textevent { 
	width: 650px;
	padding: 20px 5px 10px 10px;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	background: url("/images/aspas.jpg") no-repeat left top;
	position: relative;
}

#fuck {
	width: 620px;
	display: table;
	margin: 0 auto;
}