ul#topnav {
	margin: 10px 0 20px; 
	padding: 0; 
	list-style: none;	
	font-size: 1.1em;
	clear: both;
	width: 520px;
}
ul#topnav li{
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	float: left; 
	height:40px;
}
ul#topnav a, ul#topnav span {
	padding: 10px 20px; 
	float: left; 
	text-decoration: none; 
	color: #fff;
	text-transform: uppercase;
	clear: both;
	height: 20px;
	line-height: 20px;
	background: #1d1d1d; 
}

ul#topnav.v2 span{
	background: url(/images/a_bg.gif) repeat-x left top;
}
ul#topnav.v2 a{
	color: #555;
	background: url(/images/a_bg.gif) repeat-x left bottom;
}

ul#topnav li.selected span{
	color: #555;
	background: url(/images/a_bg.gif) repeat-x left bottom;
}

