.jcarousel-skin-tango .jcarousel-container {
	background: ;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 600px;
    margin: 0 auto;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 90px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  610px;
    height: 90px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  90px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 117px;
	height: 90px;
	background: url("/images/back-index.jpg");
	text-align:center;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    margin-right: 6px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 0px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 50px;
    right: -10px;
    width: 39px;
    height: 70px;
    cursor: pointer;
    background: transparent url(/images/proximo.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 50px;
    left: 3px;
    width: 39px;
    height: 70px;
    cursor: pointer;
    background: transparent url(/images/anterior.jpg) no-repeat 0 0;
}

.products-index {
	margin-top: 10px;
}