<%- title("Empresa") %>
<br />
<h3 class="pagina-empresa" align="center">
	<%= image_tag("alert.png", :class => "transparente") %><br /><br />
	Desculpe, mas esta página ainda não está totalmente terminada, em breve estará disponível.
</h3>