<%- title("Eventos") %>
<%- selected(:eventos) %>

<h3 class="titulos">	» Eventos</h3>
<br />


<div id="pnlEvents">
	<% @events.each do |e| %>
		<div id="show-event">
			<%= link_to image_tag(e.event.url(:thumb), :border => 0), :controller => "pictures", :action => "show", :id => e.id  %><br />
			<%= link_to e.title, :controller => "pictures", :action => "show", :id => e.id %>
		</div>
	<% end %>
</div>
<div class="clear"></div>

<div id="links">
	<%= voltar %>
</div>