
<div id="all" style="border: 1px solid #ccc;height: auto;width: 500px;padding: 5px">
	
	<div id="topo" style="padding: 5px;background: #ccc">
		<b><%= @nome %></b> deixou uma mensgem no site.</p>
	</div>
	<p><%= @mensagem%></p>
</div>
<p><small>Gerado por sorvtche.com.br</small></p>