<%- title("Produtos") %>
<%- selected(:produtos) %>

<h3 class="titulos">	» Escolha a Categoria</h3>

<div id="descricao">
	<p>Todos os produtos estão divididos em categorias listadas abaixo, basta escolher, ou você têm a opção de fazer uma busca por todos os produtos no campo localizado logo acima.</p>
</div>

<br />

<div id="painel-categorias">
	

	<% @categories.each do |c| %>
		<div id="categorias">
			<%= image_tag(c.photo.url(:thumb)) %><br />
			<div id="nomes-categorias">
				<blockquote><%= link_to c.title, :controller => "products", :action => "show", :id => c.id %></blockquote>
			</div>
		</div>

	<% end %>
		
</div>
