<%- title("Produtos") %>
<%- selected(:produtos) %>

<h3 class="titulos">	» Escolha a Categoria</h3>

<div id="descricao">
	<p>Todos os produtos estão divididos em categorias listadas abaixo, basta escolher, ou você têm a opção de fazer uma busca por todos os produtos no campo localizado logo acima.</p>
</div>

<br />

<div id="categorias-left">
	<ul class="categorias-ul">
		<% @categories.each do |c| %>
			<li><%= link_to c.title, c %></li>
		<% end %>
	</ul>
</div>

<div id="painel-categorias">
	
	<% @categories.each do |c| %>
		<div id="categorias">
			<%= link_to image_tag(c.photo.url(:thumb), :border=>0, :class => "chupar"), :controller => "products", :action => "show", :id => c.id %><br />
			<div id="nomes-categorias">
				<%= link_to c.title, :controller => "products", :action => "show", :id => c.id %>
			</div>
		</div>

	<% end %>
		
</div>

<div id="links">
	<%= voltar %>
</div>