<%- title("Produtos") %>
<%- selected(:produtos) %>

<h3 class="titles_index">Produtos Sorvtchê<br /> <small class="intro-categories"><i>Confira abaixo nossos produtos que estão divididos em categorias.</i></small></h3>
<p></p>

<br />


<div id="pnlCategories">

<% @categories.each do |c| %>
	
	<div id="show-categories">
		
		<%= image_tag(c.photo.url(:thumb)) %><br />
		
			
			<div class="box">
				<div class="box-outer">

						<p><%= link_to c.title, :controller => "products", :action => "show", :id => c.id %></p>

				</div>
			</div>

	</div>

<% end %>

</div>

<br />
<%= image_tag("arrow.png", :class=> "align-arrow") %>
<%= link_to 'Voltar', home_index_path, :class => "style-link-recipe" %>