<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Admin</title>
		<%= stylesheet_link_tag "admin" %>
	</head>
	<body>
		<div id="pnlAll">
			<%= yield %>
		</div>
	</body>
</html>
