<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Admin</title>
		<%= stylesheet_link_tag "admin", "widgEditor" %>
		
	</head>
	<body>
		<div id="pnlAll">
			
			<% unless flash[:admin].blank? %>
				<div id="flash_admin"><%= flash[:admin] %></div>
			<% end %>
			
			<%= yield %>
		</div>
	</body>
</html>
