<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title> Sorvtche - <%= yield(:title) %> </title>
		
		<%= stylesheet_link_tag "index", "slider" %>


		<%= javascript_include_tag "jquery", "s3Slider.js" %>
		
		
		<%= yield(:stylesheets) %>
		
		<!--[if IE]>
			<%= stylesheet_link_tag "ie" %>
		<![endif]-->
		<!--[if IE 6]>
			<%= stylesheet_link_tag "ie6" %>
		<![endif]-->


		<script type="text/javascript">
		    $(document).ready(function() {
		        $('#slider1').s3Slider({
		            timeOut: 4000 
		        });
		    });
		</script>


	</head>
	<body>
		<div id="all"> 
			
		
		<div id="allSite">
			
			<div id="conteudo">
				<div id="header">
					
				</div>
				<div id="menu">
					<ul id="menu-links">
						<li class='<%= yield(:home) %>'><%= link_to "Home", home_index_path %></li>
						<li class='<%= yield(:empresa) %>'><%= link_to "Empresa", home_index_path %></li>
						<li class='<%= yield(:recipes) %>'><%= link_to "receitas", recipes_path %></li>
						<li class='<%= yield(:produtos) %>'><%= link_to "produtos", products_path %></li>
						<li class='<%= yield(:franquias) %>'><%= link_to "Franquias", home_index_path %></li>
						<li class='<%= yield(:contato) %>'><%= link_to "Contato", new_contact_path %></li>

					</ul><!-- - ul menu -->
					
						<div id="busca">
							<% form_tag busca_products_path do %>
								<p>
									<%= text_field_tag :search, params[:search] %>
									<%= image_submit_tag ("search.jpg"), :name => nil %>
								</p>
							<% end %>
						</div>						
	
					
				</div><!-- end menu -->
				
				<div id="conteudo-paginas">
					<%= yield %>
				</div><!-- end conteudo paginas -->
				
			</div><!-- end conteudo -->
			<div class="clear"></div>
			

		</div><!-- end allsite -->
		
		<%= yield(:javascripts) %>
		<%= yield(:javascripts_normal) %>

		<script type="text/javascript">
	    $(function() {
	        $('#fuck a').lightBox();
	    });
	    </script>

			<div id="rodape">
				<div id="top"></div>
				<p>Sorvtchê 1984 - 2010 - Todos direitos reservados</p>
			</div><!-- end rodape -->
		
		</div><!-- end all -->

	</body>
</html>