<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Sorvtche - <%= yield(:title) %> </title>
		<%= stylesheet_link_merged :base %>
		<%- javascripts("base") %>
		<%= javascript_include_tag("http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js") %>
		
		<%= yield(:stylesheets)%>
		
		<!--[if IE]>
			<%= stylesheet_link_tag "ie" %>
		<![endif]-->
		<!--[if IE 6]>
			<%= stylesheet_link_tag "ie6" %>
		<![endif]-->

	</head>
	<body>
		<div id="pnlAll">
			<div id="pnlHeader">
				<div id="links-topo">
					<p>
						<%= image_tag("login-index.jpg", :class=>"empresa-index") %><%= link_to "Login", :controller => "home", :action => "empresa" %> 
						<%= image_tag("empresa.jpg", :class=>"empresa-index", :border => 0) %><%= link_to "Empresa", :controller => "home", :action => "empresa" %> 
					</p>
				</div>
				<div id="pnlMenu">
					<ul id="topnav" class="V2">
						<li class="<%= yield(:home) %>"><%= link_to image_tag("home.png", :border=>0, :class => "avril"), 
																		:controller => "home", :action => "index"  %>
						</li>
						<li class="<%= yield(:produtos) %>"><%= link_to "Produtos", products_path %></li>
						<li class="<%= yield(:recipes) %>"><%= link_to "Receitas", recipes_path %></li>
						<li class="<%= yield(:eventos) %>"><%= link_to "Eventos", pictures_path %></li>
						<li class="<%= yield(:contato) %>"><%= link_to "Contato", new_contact_path %></li>
					</ul>	
					
				</div>
			</div>
			<div id="pnlDobra">
				<p></p>
			</div>
			<div id="pnlContent">
				<div id="pnlContentPrincipal">
					<div id="pnlSlides">
						<ul id="mycarousel" class="jcarousel-skin-tango">
							<% produtos %>
							
							<% @products.each do |p| %>
								<li>
									<%= link_to image_tag(p.produto.url(:thumb), :width => 80, :height => 70, :border => 0,
									 									:class=>"products-index"),
																		{:controller => "products",
																		:action => "show",
																		:id => p.category_id} %>
								</li>
							<% end %>

						</ul>
					</div>
					<div id="pnlContentSilver">
						<% unless flash[:notice].blank? %>
							<div id="flash_notice"><%= flash[:notice] %></div>
						<% end %>
						<%= yield %>
					</div>
					<div id="pnlFooter">
						<p>Sorvtche 2010 - Todos Direitos Reservados</p>
					</div>
				</div>
			</div>
		</div>
	
			<%= yield(:javascripts) %>
			<%= yield(:javascripts_normal) %>
			
			<script type="text/javascript">
		    $(function() {
		        $('#fuck a').lightBox();
		    });
		    </script>
	</body>
</html>