<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title> Sorvtche - <%= yield(:title) %> </title>
		
		<%= javascript_include_tag "jquery", "s3Slider" %>

		<script type="text/javascript" language="javascript">
			if (screen.width == "1024") {
				document.write('<%= stylesheet_link_tag "1024" %>');
				document.write('<%= stylesheet_link_tag "slider" %>');
				document.write('<%= stylesheet_link_tag "lightbox" %>');
			}
			else {
				document.write('<%= stylesheet_link_tag "index" %>');
				document.write('<%= stylesheet_link_tag "slider" %>');
				document.write('<%= stylesheet_link_tag "lightbox" %>');
			}
		</script>

		<!--[if IE]>
			<%= stylesheet_link_tag "ie" %>
		<![endif]-->

	</head>
	<body>
		<div id="all"> 
			
		
		<div id="allSite">
			
			<div id="conteudo">
				<div id="header">
					
				</div>
				<div id="menu">
					<ul id="menu-links">
						<li class='<%= yield(:home) %>'><%= link_to "Home", home_index_path %></li>
						<li class='<%= yield(:recipes) %>'><%= link_to "receitas", recipes_path %></li>
						<li class='<%= yield(:produtos) %>'><%= link_to "produtos", products_path %></li>
						<li class='<%= yield(:eventos) %>'><%= link_to "eventos", pictures_path %></li>
						<li class='<%= yield(:franquias) %>'><%= link_to "Franquias", :controller => "home", :action => "empresa" %></li>
						<li class='<%= yield(:contato) %>'><%= link_to "Contato", new_contact_path %></li>

					</ul><!-- - ul menu -->
					
						<div id="busca">
							<% form_tag busca_products_path do %>
								<p>
									<%= text_field_tag :search, params[:search], :class => "input-busca" %>
									<%= image_submit_tag ("search.jpg"), :name => nil %>
								</p>
							<% end %>
						</div>						
	
					
				</div><!-- end menu -->
				
				<div id="conteudo-paginas">
					<%= yield %>
				</div><!-- end conteudo paginas -->
				
			</div><!-- end conteudo -->ddddddddddddd sdsadsadh udaus dhusahd uash uashd uashd uashd uasdh uashdu ashdudhuashdu as huashd auhd ausdh aus dausd hasd
			<div class="clear"></div>
			

		</div><!-- end allsite -->

		<%= yield(:javascripts_normal) %>

			<div id="rodape">
				<div id="top"></div>
				<p>Sorvtchê 1984 - 2010 - Todos direitos reservados</p>
			</div><!-- end rodape -->
		
		</div><!-- end all -->

	</body>
</html>